.tic-tac-toe {
    @extend .p-5;
    @extend .bg-inky;
    @extend .flex-container;
    @extend .flex-column;
    @extend .flex-align-center;
    @extend .flex-justify-center;

    color: map-get($colors, natural);
    height: 100vh;

    .board {
        @extend .flex-container;

        margin: auto;
    }

    .boxes {
        @extend .flex-container;
        @extend .flex-align-center;
        @extend .flex-justify-center;
        height: 200px;
        width: 200px;
        background-color: map-get($colors, info);
        border: 4px solid map-get($colors, inky);
        border-radius: 12px;
        cursor: pointer;

        svg {
            @extend .font-size-55;
        }
    }

    .reset {
        width: 50%;
        height: 10%;
        border-radius: 20px;
        font-size: 20px;
    }
}